<a class="site-branding" href="{{ '' | permalink({ locale: locale, type: 'home' }) }}">
  <div class="site-logo">
    {% image "icon.png", "", 40 %}
  </div>

  <div class="site-title">
    <span class="until-sm">{{ "Griffen" | t9n(locale) }}</span>
    <span class="upon-sm">{{ "Griffen Schwiesow" | t9n(locale) }}</span>
  </div>
</a>
